*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    background-color: orange;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

body{
    background-color: #f0f0f0;

}